@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{   
  background: rgba(26,188,156,0.3);
  background-image:  url(".../_mat/login_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transition: opacity .1s;
}

::selection{
  background: rgba(26,188,156,0.3);
}

.container{
  max-width: 380px;
  max-height: 380px;
  padding: 10px 15px;
  margin: 120px auto;
  opacity: 1;
}

.wrapper{
  width: 100%;
  background: whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px dimgray;
}
.wrapper .title{
  height: 72px;
  background: whitesmoke;
  border-radius: 5px 5px 0 0;
  color: black;
  font-family: 'Poppins',sans-serif;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 30px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: #89C0F0;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #72B0E6;
  border: 1px solid #629DCF;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #89C0F0;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: white;
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-left: 0px;
  background: #72B0E6;
  border: 1px solid #7AB3E5;
  margin-top: 5px;
  cursor: pointer;
}
form .button input:hover{
  background: #4790E3;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 25px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #4790E3;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}

.row2{
    margin-bottom: 15px;
}


